<html>
   <head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
       <title>
          LOGIN FORM 
        </title>
      <body>
           <main class="main-content">
              <form action="/users/Login.html" method="POST" 
                 enctype="applications/x-www-form-urlencoded">
                <fieldset class="border-color">
                    <Legend>Login Portal</Legend>
                <label for="username">Username</label>
                <input class="margins" type="text" placeholder ="Enter Username" name="username" required>
                <br>
                <label for="password">Password</label>
                <input class="margins" type="password" name="password" placeholder="Enter password" required>
                <br>
                <input class="button" type="submit" value="Login">
             </fieldset>
              </form>
            </main>
       </body>
     </head> 
</html>