<html>
   <head>
    <script defer type="text/javascript" src="/public/js/Script.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
       <title>
          REGISTERATION FORM 
        </title>
      <body>
           <main class="main-content">
              <form class="form" id="reg-form" method="POST"
              action="/users/Registration.html"
              enctype="application/x-www-form-urlencoded">
                
                <fieldset class="border-color">
                    <Legend>Registration Portal</Legend>
                <label for="username">Username</label>
                <input class="margins" type="text" placeholder ="Enter Username" id="username" name="username" required>
                <span id ="uss" style="color: white"></span>
                
                <label for="email">Email</label>
                <input class="margins" type="email" placeholder ="Enter email" id="mail" name="email" required>
                <span id ="letter" style="color: white"></span>
                
                <label for="password">Password</label>
                <input class="margins" type="password" name="password" placeholder="Enter password" id="txtPassword" required>
                <span id ="message" style="color: white"></span>
                
                
                <label for="Confirm password">Confirm Password</label>
                <input class="margins" type="password" placeholder="Confirm your above password" name="Cpassword" id="Confirm" required>
                <div class="input-group">
                  <input class="margins" type="checkbox" required>
                  <span>Are you 13 years Old?</span>
                </div>
                <div class="input-group2">
                <input class="margins" type="checkbox" required>
                <span>You must agree to the terms and services and Privacy Rules Please click on this.
                <a class="links" href=" ">TOS and Privacy Rules</a>
                </span>
                </div>
                
                <input class="button" type="submit" value="Register" />
                
             </fieldset>
            
              </form>
            </main>
       </body>
     </head> 
</html>




 




